{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="overflow-hidden space">
		<div class="container">

			{{ form_errors(registrationForm) }}


			{{ form_start(registrationForm, {'attr': {'class': 'appointment-form2'}}) }}

			<div class="row justify-content-center text-center">
				<div class="col-xl-9">
					<div class="title-area">
						<h3 class="sec-heading">S'inscrire</h3>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="form-group col-md-6">

					{{ form_row(registrationForm.roles) }}

				</div>

				<div class="form-group col-md-6">                                       
					{{ form_row(registrationForm.gender, {label: 'Genre'}) }}
				</div>
				<div class="form-group col-md-6">
					{{ form_row(registrationForm.email, {label: 'Email'}) }}
				</div>
				<div class="form-group col-md-6">
					{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
				</div>
				<div class="form-group col-md-6">

					{{ form_row(registrationForm.firstName, {label: 'Prénom'}) }}
				</div>
				<div class="form-group col-md-6">

					{{ form_row(registrationForm.lastName, {label: 'Nom'}) }}
				</div>
				<div class="form-group col-md-6">

					{{ form_row(registrationForm.phone, {label: 'Téléphone'}) }}
				</div>

				<div class="form-group col-md-6">

					{{ form_row(registrationForm.birthdate, {'attr': {'class': 'class="form-select"'}}) }}
				</div>

			</div>
			<br>
			<div class="form-group">
				{{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'form-check-input', 'id': 'checkboxagree'} }) }}
				{{ form_label(registrationForm.agreeTerms, 'I agree with the terms & conditions', { 'label_attr': {'class': 'form-check-label', 'for': 'checkboxagree'} }) }}
			</div>
			<br>
			<div class="row justify-content-center">
				<div class="form-btn col-2">
					<button type="submit" class="th-btn btn-fw">Register</button>
				</div>
			</div>

			{{ form_end(registrationForm) }}
		</div>
	</div>

{% endblock %}

