{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
<div class="space">
    <table class="cart_table woocommerce-cart-form">
        <thead>
            <tr>
                <th class="cart-col-Nom">Id</th>
                <th class="cart-col-Region">Region</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.region }}</td>
            </tr>
        </tbody>
    </table>
</div>

<a href="{{ path('app_patient_index') }}">back to list</a>
<a href="{{ path('app_patient_edit', {'id': patient.id}) }}">edit</a>
{{ include('patient/_delete_form.html.twig') }}
{% endblock %}
