{% extends 'base.html.twig' %}

{% block title %}Secretary{% endblock %}

{% block body %}
    <h1>Secretary</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ secretary.id }}</td>
            </tr>
            <tr>
                <th>YearExp</th>
                <td>{{ secretary.yearExp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_secretary_index') }}">back to list</a>

    <a href="{{ path('app_secretary_edit', {'id': secretary.id}) }}">edit</a>

    {{ include('secretary/_delete_form.html.twig') }}
{% endblock %}
