{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
<section class="th-blog-wrapper space-top space-extra-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-lg-7">
			<form action="{{ path('search_blog') }}" method="GET" class="d-flex">
    <input type="text" name="query" class="form-control me-2" placeholder="Search...">
    <button class="btn btn-outline-secondary" type="submit">
        <i class="fas fa-search"></i>
    </button>
</form>
                {% if is_granted('ROLE_DOCTOR') %}
                <a href="{{ path('app_blog_new') }}" class="th-btn btn-sm">New</a>
                {% endif %}
                {% for blog in blogs %}
                <div class="th-blog blog-single">
                    <div class="blog-content">
                        <div class="blog-meta">
                            <a class="author" href="{{ path('app_doctor_show', {'id': blog.getDoctor().id}) }}">
                                <i class="fal fa-user"></i>
                                {{ blog.getDoctor().getUser().firstName }}
                                {{ blog.getDoctor().getUser().lastName }}
                            </a>
                            <a>
                                <i class="fal fa-calendar"></i>
                                {{ blog.creationDate|date('F j, Y H:i') }}
                            </a>
                        </div>
                        <h2 class="blog-title">
                            <a>{{ blog.title }}</a>
                        </h2>
                        <p class="blog-text">{{ blog.details }}</p>
                    </div>
                    <!-- Blog actions -->
                    <div class="blog-actions">
                        <!-- Read More Button -->
                        <a href="{{ path('app_blog_show', {'id': blog.id}) }}" class="th-btn btn-sm">Read More</a>
                        <!-- Upvote Icon -->
                       <a href="{{ path('app_blog_upvote',{'id': blog.id}) }}" class="upvote-icon">

                            <i  class="fa-solid fa-thumbs-up"></i>
							<span>{{ voteCounts[blog.id]['upvotes'] }}</span> 
                        </a>
                        <!-- Downvote Icon -->
                        <a href="{{ path('app_blog_downvote',{'id': blog.id}) }} "class="downvote-icon">
                            <i class="fa-solid fa-thumbs-down"></i>
							<span>{{ voteCounts[blog.id]['downvotes'] }}</span> 
                        </a>
                    </div>
                </div>
                {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
                {% endfor %}
                <div class="th-pagination text-center">
                    <ul>
                        <li><a href="blog.html">1</a></li>
                        <li><a href="blog.html">2</a></li>
                        <li><a href="blog.html">3</a></li>
                        <li><a href="blog.html"><i class="far fa-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-5">
                
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        /* Add your CSS styles here */
        .th-blog-wrapper .th-blog {
            position: relative; /* Make the blog container relative */
        }

        .blog-actions {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
        }

        .upvote-icon,
        .downvote-icon {
            /* Define styles for the upvote and downvote icons */
            margin-left: 10px; /* Adjust the spacing between icons */
            margin-right: 10px;
        }
    </style>
{% endblock %}

